.accordion {
  background-color: antiquewhite;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  max-width: 400px;
  padding: 15px 15px;
  border-radius: 15px;
  color: chocolate;
}
.accordion_head {
  display: flex;
  justify-content: space-between;
}
.accordion p {
  font-size: medium;
  font-weight: 500;
  margin: 0;
}

.accordion_input {
  display: none;
}
.accordion_panel img {
  width: 50%;
}

.accordion_input:hover ~ .accordion_content {
  max-height: 100vh;
  transition: all 2s;
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  padding: 0px 15px;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.accordion_label {
  width: 20px;
  display: flex;
  position: relative;
  padding: 15px 10px 0px 0px;
}

.accordion_panel {
  width: 350px;
  margin: 0 auto;
}
.accordion_panel .bottom_line {
  display: flex;
  content: "";
  height: 1px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.accordion:hover .accordion_panel {
  color: black;
}

.right_icon {
  display: none;
}

.accordion:hover .right_icon {
  display: block;
}

label:hover .right_icon {
  transform: rotate(45deg);
  transition: 0.5s;
}

.accordion_input:checked ~ .accordion_content {
  max-height: 100vh;
}

