.accordion {
  background-color: antiquewhite;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: large;
  max-width: 400px;
  padding: 15px 15px;
  border-radius: 15px;
  color: chocolate;
}

.accordion p {
  font-size: medium;
  font-weight: 500;
  margin: 0;
}

.accordion_input {
  display: none;
}

.accordion_input:hover ~ .accordion_content {
  max-height: 1000px;
  transition: all 2s;
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  padding: 0px 15px;
  margin-bottom: 10px;
  transition: all .5s;
}
.accordion_label
{
    display: block;
    position: relative;
    padding: 15px 10px 0px 0px;
 
  
}

.accordion_label::after {
    content: "+";
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 30%;
    transition: .5s;
    display: none;

}

.accordion_input:hover ~ .accordion_label::after{

    transform: rotate(45deg);
    transition: .5s;
}
.accordion_panel{
    width: 350px;
    margin: 0 auto;
}
.accordion_panel .bottom_line{
    content: "";
    height: 1px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.accordion:hover .accordion_panel{
    color: black;
}
.accordion:hover .accordion_label::after{
    display: block;
}


